In [1]:
import numpy as np
import pandas as pd
import random

ingr = ["Salade", "Tomate", "Oignon", "Fromage", "Viande", "Poivron"]
nbIngr = 6
totIngr = 14
maxIngr = 5
intCons = [14, 14]
nbDist = 1000

In [2]:
distributions = []

while len(distributions) < nbDist:
    gen = np.random.randint(maxIngr + 1, size=nbIngr)
    if gen.sum() >= intCons[0] and gen.sum() <= intCons[1]:
        distributions.append(gen)

dist_table = pd.DataFrame(distributions, columns=ingr)
dist_table.to_csv("ingredients.csv", index=False)
dist_table

     Salade  Tomate  Oignon  Fromage  Viande  Poivron
0         1       5       2        1       1        4
1         5       0       2        1       2        4
2         0       3       0        4       2        5
3         0       0       2        5       4        3
4         3       4       3        2       2        0
..      ...     ...     ...      ...     ...      ...
995       3       0       2        3       5        1
996       2       4       3        0       2        3
997       0       4       1        4       1        4
998       1       1       2        5       5        0
999       4       0       5        1       1        3

[1000 rows x 6 columns]

In [3]:
distributionsErr = []

while len(distributionsErr) < 10:
    gen = np.random.randint(maxIngr + 1, size=nbIngr)
    if gen.sum() >= intCons[0] and gen.sum() <= intCons[1]:
        distributionsErr.append(gen)

dist_tableAss = pd.DataFrame(distributionsErr, columns=ingr)
dist_tableAss

   Salade  Tomate  Oignon  Fromage  Viande  Poivron
0       4       4       4        1       0        1
1       3       4       0        2       5        0
2       4       5       0        2       0        3
3       2       4       1        5       0        2
4       1       5       4        0       2        2
5       2       3       0        2       3        4
6       1       5       0        3       5        0
7       5       1       1        0       5        2
8       2       2       4        2       0        4
9       1       3       1        1       5        3

In [4]:
good = False
while(not good):
    rErr1 = random.randint(0,9)
    rErr2 = random.randint(0,9)
    rErr3 = random.randint(0,9)
    if rErr1 != rErr2 and rErr2 != rErr3 and rErr1 != rErr3:
        good = True

rowErr = [rErr1, rErr2, rErr3]
print("Lignes pour erreurs :", rowErr)

ingrErr1 = random.randint(0,5)

Lignes pour erreurs : [8, 7, 0]